<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Tag:</b>
  <%= @photo.tag %>
</p>

<p>
  <b>Photo file:</b>
  <%= @photo.photo_file %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
